<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastroUsuario</servlet-name>
        <servlet-class>Servlet.CadastroUsuario</servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>CadastroUsuario</servlet-name>
        <url-pattern>/CadastroUsuario</url-pattern>
    </servlet-mapping>
   <!-- <servlet>
        <servlet-name>OperacoesUsuario</servlet-name>
        <servlet-class>hibernatePersistent.conexao.OperacoesUsuario</servlet-class>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>OperacoesUsuario</servlet-name>
        <url-pattern>/OperacoesUsuario</url-pattern>
    </servlet-mapping>-->
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
